 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}
.btn{
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    outline: 0;
    padding: 13px 36px;
    color: #fff;
}
.btn > a{
    color: #fff;
}

.btn_modal{
    animation: lr infinite .5s;
    font-size: 70px;
    color: #FEBC59;
}
      @keyframes lr{
        from{
           transform:rotate(10deg);
          margin-left: 1px;
        }
        to{
          transform:rotate(-10deg);
          margin-left: -1px;
        }
      }


